/* 当页面宽度小于770px时执行里面的代码 */
@media (max-width: 768px) {

    .w,
    .container {
        width: 100% !important;
    }

    .logo>img {
        content: url(../images/logo1.svg);
    }

    .nav .nav-list {
        display: none;
    }

    .nav-input {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 80% !important;
    }
    .input-group{
        flex-wrap:nowrap
    }
    .nav-input .btn {
        display: none;
    }

    .homepage {
        right: -80px;
    }

    .nav-list-bottom .nav-list>li:first-child {
        margin-left: 5px;
    }

    
    .index-aside {
        display: none;
    }

    .gd {
        z-index: 999;
        top: 0;
        left: 0;
        overflow-x: auto;
        white-space: nowrap;
    }

    .search {
        width: 180px !important;
    }

    .search:focus {
        width: 200px !important;
    }

    .sticky-block-box,
    .article-aside-display {
        display: none;
    }

    .update-icon{
        display: none;
    }
}

@media (max-width: 960px) {
    .search {
        width: 180px !important;
    }
}


.infobox .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1d2129;
    margin-bottom: 8px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.infobox a:last-child {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #86909c;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.index-aside {
    margin:10px;
}
.index-main{
    height: 1000px;
    margin: 10px;
    background-color: aqua;
}

.aside-top {
    background-color: #fff;
    height: 96px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    color: black;
}

.more-list .item {
    float: left;
    font-size: 12px;
    line-height: 22px;

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-right: 18px;
}

.more-list .item a {
    color: #86909c;
}

.icon {
    width: 24px;
    cursor: pointer;
}


@media (min-width: 768px){
    
    .input-group{
        visibility: hidden;
    }
    .index-aside{
        visibility: hidden;
    }
    #clear-border{
        visibility:hidden;
    }

}


@media (min-width: 950px){
    #clear-border{
        visibility:visible;
    }
}
@media (min-width: 992px){
    .index-aside{
        visibility:visible;
    }
    
}
@media (min-width:1250px){
    .input-group-text{
        visibility:visible;
    }
    .search{
        visibility:visible;
    }
    .input-group{
        flex-wrap:nowrap;
        margin-left: -5px;
    }
}
@media (min-width:1400px){
    .input-group{
        visibility: visible;
    }
}