* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e4e6eb !important;
}

Header {
    background-color: #fff !important;
}

img {
    border-style: none;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none !important;
}

header {
    position: relative;
    background: var(--juejin-navigation);
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
}

.w {
    position: relative;
    width: 1400px;
    height: 5rem;
    line-height: 5rem;
    margin: 0 auto;

}

.header-nav {
    margin-left: -20px;
}

.nav-list>li {
    float: left;
    text-align: center;

    font-size: 14px;
    margin-right: 25px;
    
}

.nav-list>li>a {
    color: #515767;
    text-decoration: none;
}

.nav .nav-list>li:hover {
    border-bottom: 1px solid blue;
}

.gd {
    height: 3rem;
    line-height: 3rem;
}

.container .nav-list li {
    margin: 0;
}

.input-group-text {
    height: 38px;
    cursor: pointer;
}

.nav-list-bottom {
    background: var(--juejin-navigation);
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    height: 45px;
    line-height: 45px;
}

.border_top {
    border-top: 1px solid #f1f1f1;
}

.container {
    width: 1000px !important;
}

.container .nav-list>li {
    font-size: 12px;
    margin-right: 15px;
}

.widen {
    width: 50px !important;
}

.nav-list>li:hover a {
    color: #007bff !important;
}

.clearfix:after {
    /*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nav-list-bottom .nav-list>li:first-child {
    margin-left: -15px;
}

.search {
    width: 240px;
    transition: all 0.5s ease 0s;

    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
}

.search:focus {
    width: 300px;
    box-shadow: 0 0 10px rgba(109, 207, 246, 0.5);
    border: 1px solid rgb(109, 207, 246);
}

.nav-input>span {
    margin-left: -48px;
}

.nav-input {
    overflow: hidden;
    position: relative;
    margin-left: 3rem;
}

.nav-input button {
    position: absolute;
    right: 70px;
    font-size: 14px;
    margin-top: 1.6rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.nav-input button:hover,
.nav-input div:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.nav-input div {
    position: absolute;
    right: 60px;
    width: 10px;
    font-size: 14px;
    margin-top: 1.6rem;
    padding-left: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #007bff;
    border-color: #007bff;
}

.nav-input div i {
    color: #fff;
}

#clear-border:hover {
    border: 0;
}

.homepage {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 5rem;
    line-height: 5rem;
}

.homepage i {
    font-size: 22px;
    line-height: 5.3rem;
}

.homepage i:hover {
    color: #333;
    /* cursor: pointer; */
}

.homepage span {
    margin-right: 15px;
}

.homepage img {
    width: 60px;
    border-radius: 50%;
    margin-top: -6px;
}

.nav-input .update-icon{
    position: absolute;
    top: -50px;
    right: 85px;
    z-index: auto;
    background: none;
    width:0;
    padding: 0;
}


